body {
    margin-top: 5vh;
    margin-inline: 5vw;
}
header {
    padding: 10px;
    height: 10vh;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
}

main {
    margin-inline: 20vw;
}

.highscores-head {
    float: left;
}

.timer-head {
    float: right;
}

.center-align {
    text-align: center;
    justify-content: center;
}

.title {
    margin-bottom: 30px;
    display: block;
}

.text-content {
    margin-bottom: 20px;
    text-align: center;
}

button{
    width: auto;
    margin-bottom: 15px;
    padding: 10px;
    background-color: blueviolet;
    color:antiquewhite;

}

.start-button {
    font-size: 40px;
    margin-inline: auto;
    border-radius: 5px;
    display: block;
}

.choice-buttons {
    margin-block: 3vh;
}

.multi-button {
    font-size: 25px;
    margin-left: 3vw;
    border-radius: 5px 20px 20px 5px;
    display: none;
}

.quiz-feedback {
    border-top: 2px solid gray;
    padding: 10px;
    font-style: italic;
    font-size: 40px;
    color: gray;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.input-group {
    display: none;
}

.input-group label {
    font-size: 20px;
}

.input-group input {
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.input-group button {
    font-size: 20px;
    border-radius: 5px;
}

.input-group a {
    color: antiquewhite;
}

/* Highscore CSS */
.high-scores {
    margin-block: 2.5vh;
    margin-inline: 30vw;
}

.high-score-card {
    background-color: rgb(171, 117, 221);
    color: antiquewhite;
    font-size: 30px;
    padding: 15px;
    margin: 15px;
}

#return-btn a {
    color: antiquewhite;
}
